
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


div.gallery {
  margin: 50px;
  border: 1px solid #ccc;
  width: 250px;
  text-align: center;
  align-items: stretch;
  /* height: 100%; */
  display: inline-block; 
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  align-items: stretch;
}

div.gallery:hover {
  border: 2px solid #777;


}

div.gallery img {
  width: 100%;
  height: auto;
  align-items: stretch;
}

div.desc {
  padding: 15px;
  text-align: center;
  align-items: stretch;
}

.image {
  max-width: 100%;
  height: auto;
  align-items: stretch;
}

/* CSS */
.button-1 {
  background-color: #f20d703b;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 35px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-items: stretch;
}

.button-2 {
  position: relative;
  text-align: center;
  background-color: #f20d703b;
}

.btn.btn-danger {
  margin: 10px; 

}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.hero-image{
  width:100%;
  margin:auto;
  margin-top:3%;
  box-shadow: 5px 5px 15px 5px #000000;

}

.main-title{
  text-align: center;
  Padding-top:3%;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-weight: 900;

}

.card-body{
text-align: center;

}

.btn-primary{
 margin:1%;
}

.main-form{
  
  width:60%;
  margin:auto;
}

.form-title{
  text-align: center;
  margin-top: 3%;
}

.main-services{
 text-align:center;
}

.card-container {
  /* width:100%; */
  margin: 0 auto;
  border: 1px solid #ccc;
  width: 250px;
 
}

.all-cards-again {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
